@media (min-width: 2921px) {
  .work-link__icon {
    width: 2rem;
    height: 2rem;
  }
  .github-link__icon {
    width: 2rem;
    height: 2rem;
  }
}
// 2K Monitors
@media (min-width: 1921px) {
  .logo img {
    width: 4rem;
  }
  .social-icon img {
    width: 1.5rem;
    height: 1.5rem;
  }
  .control-btn {
    width: 3rem;
  }
  .pause-lottie {
    transform: scale(2);
    transform-origin: center;
    margin-bottom: 0;
  }
}

@media (max-width: 1600px) {
  .hero {
    padding-left: $g1;
  }
  .work-body__left {
    padding-bottom: 3rem;
  }
}

@media (max-width: 1200px) {
  .hero {
    padding-left: $g1 / 2;
  }
  .work-body__left {
    width: 50%;
  }
  .work-wrapper__inner {
    max-height: 70rem;
  }
  .work-wrapper__outer {
    align-items: center;
  }
}

// @media (min-width: 767px) and (max-width: 926px) {
//   h1 {
//     font-size: 4.5rem;
//   }
//   .hero__paragraph {
//     font-size: 1rem;
//     max-width: 22rem;
//     margin: 1rem 0;
//   }
//   .hero__cta {
//     font-size: 10px;
//     padding: 1rem 2.5rem;
//   }
//   .heroStar_inner {
//     width: 50px;
//   }
//   .flip {
//     height: 10px !important;
//   }
//   .work-underline {
//     width: 75%;
//   }
//   .work-body__wrapper {
//     min-height: auto;
//   }
//   .work-link__wrapper {
//     gap: 0;
//   }
//   .work-link__icon {
//     margin-top: 4px;
//     width: 16px;
//   }
//   .github-link__icon {
//     width: 16px;
//     margin-top: -8px;
//   }
//   .work-wrapper__outer {
//     overflow-y: scroll;
//   }
//   .work-header__wrapper {
//     margin-bottom: 1rem;
//   }
//   .work-description {
//     margin-bottom: 2rem;
//   }
//   .controls-wrapper {
//     padding: 0;
//   }
//   .work-body__left {
//     padding-bottom: 4rem;
//   }
//   .controls-wrapper {
//     padding: 0;
//   }
// }

// MOBILE DESIGN SWITCH
@media (max-width: 1024px) {
  .work-wrapper__inner {
    max-height: none;
  }
  .work-wrapper__outer {
    align-items: flex-start;
  }
  .work-body__left {
    padding-bottom: 0;
  }
  .hero {
    align-items: flex-end;
    padding: 0 1rem;
    justify-content: flex-start;
    margin-left: 5rem;
  }
  .hero__wrapper {
    position: fixed;
    bottom: max(3rem, env(safe-area-inset-bottom));
  }
  .work-wrapper__outer {
    overflow-y: scroll;
    align-items: flex-start;
  }
  .work-header__wrapper,
  .work-description {
    margin-bottom: 2rem;
  }
  .work-body__wrapper {
    flex-direction: column;
    align-items: center;
  }
  .work-body__right {
    width: 100vw;
    padding: 0 5vw;
  }
  .work-header__inner h1 {
    font-size: 7vw;
  }
  .controls-wrapper {
    padding: 0;
  }
  .work-body__left {
    width: 100%;
    margin-bottom: 2rem;
  }
  .work-wrapper__inner {
    padding: 0;
    justify-content: flex-start;
    min-width: auto;
    width: 100%;
  }
  .progress-bar {
    top: 0;
    bottom: auto;
  }
  .body-right__inner {
    display: flex;
    gap: 4rem;
    justify-content: space-between;
    > :first-child {
      width: 50%;
    }
  }
  .work-overview__wrapper,
  .work-credits__inner {
    gap: 1rem;
  }
  .work-overview__wrapper > :first-child,
  .credit-role,
  .client-item {
    width: 6rem;
  }
  .work-tools__wrapper {
    gap: 0.625rem;
  }
  .work-tools__item p {
    font-size: 1.125rem;
  }
  .tool-spacer__line {
    padding-left: 0.625rem;
    height: 0.875rem;
  }
  .work-link__wrapper {
    gap: 1rem;
    flex-direction: row;
  }
  .work-link__icon {
    margin-top: 10px;
    width: 32px;
  }
  .github-link__icon {
    width: 32px;
    height: 44px;
    margin-top: 0;
  }
  .work-info__wrapper {
    display: flex;
    flex-direction: column;
  }
  .work-overview__wrapper {
    margin-bottom: 4rem;
  }
  .work-header__inner {
    margin-bottom: 1rem;
    justify-content: flex-start;
  }
  .laptop-spacer {
    display: block;
    height: 100%;
    min-height: $laptop-min-height;
  }
  .control-btn {
    width: unset;
  }
  .skip-lottie {
    width: 3rem;
    height: 3rem;
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
  .pause-lottie {
    transform: scale(2);
    transform-origin: center;
    margin-bottom: 0;
  }
  .timeline-item {
    width: 1.75rem;
  }
  .work-body__left p {
    font-size: 0.75rem;
  }
  .mobile-laptop-mask__wrapper {
    display: block;
  }
}

@media (max-width: 767px) {
  .hero {
    margin-left: 0;
    justify-content: center;
  }
}

// display scroll indicator of device height is less than min-heights required
// $min-device-height doesn't work sadly, but should be the correct value
// @media (max-height: 860px) and (max-width: 767px) {
//   .scroll-indicator {
//     pointer-events: none;
//     position: fixed;
//     height: 100vh;
//     width: 100%;
//     display: flex;
//     align-items: flex-end;
//     justify-content: center;
//     padding-bottom: 2rem;
//     background: linear-gradient(
//       0deg,
//       rgba(28, 28, 27, 0.7511598389355743) 0%,
//       rgba(28, 28, 27, 0) 20%
//     );
//   }
//   .swipe-down__lottie {
//     width: 10rem;
//   }
// }

@media (max-width: 600px) {
  .body-right__inner {
    flex-direction: column;
  }
  .work-description {
    width: 100%;
    font-size: 1rem;
  }
  .work-body__right {
    align-items: stretch;
    padding: 1.5rem;
    padding-bottom: 7rem;
  }
  .body-right__inner {
    width: 100%;
    max-width: 40rem;
    gap: 1rem;
  }
  .body-right__inner > :first-child {
    width: 100%;
  }
  .work-underline {
    width: 100%;
    max-width: 40rem;
  }
  .work-link__icon {
    margin-top: 5px;
    width: 22px;
  }
  .github-link__icon {
    width: 22px;
    height: 29px;
    margin-top: 5px;
  }
  .work-header__inner {
    margin-bottom: 1rem;
  }
  .work-overview__wrapper {
    gap: 2rem;
  }
  .work-info__wrapper {
    flex-direction: row;
    justify-content: space-between;
    gap: 4rem;
  }
  .work-overview__wrapper > :first-child,
  .client-item {
    width: 7rem;
  }
  .credit-role p {
    width: 6rem;
  }
  .work-body__left {
    padding: 0 1.5rem;
    align-items: flex-start;
  }
  .work-link__wrapper {
    display: none;
  }
  .work-header__inner h1 {
    font-size: 8.2vw;
  }
  .mobile-link__wrapper {
    margin: 2rem 0;
    display: flex;
    // flex-direction: column;
    gap: 2rem;
  }
  .mobile-link__inner {
    display: flex;
    gap: 0.625rem;
  }
  .work-link__icon {
    width: 12px;
    height: 12px;
  }
  .github-link__icon {
    width: 16px;
    height: 16px;
    margin-top: 0;
  }
  .side-menu__wrapper {
    padding: 1rem;
  }
  .socials-wrapper {
    top: 1rem;
    right: 1rem;
  }
  .work-body__left {
    margin-bottom: 0;
  }
  .controls-inner {
    margin-bottom: 0.75rem;
  }
  .work-underline__wrapper {
    display: none;
  }
  .work-header__wrapper {
    margin-bottom: 0;
    margin-top: 1rem;
  }
}

@media (max-width: 480px) {
  .work-header__inner h1 {
    line-height: 120%;
    font-size: 7.5vw;
  }
  .work-info__wrapper {
    flex-direction: column;
    gap: 2rem;
  }
  .work-tools__item p {
    font-size: 0.875rem;
    // text-transform: uppercase;
  }
  .work-overview__wrapper {
    margin-bottom: 0;
  }
  .work-credits__inner {
    gap: 2rem;
  }
  .work-overview__wrapper > :first-child,
  .client-item,
  .credit-role {
    width: 100px;
  }
  // .work-overview__wrapper > :last-child {
  //   margin-left: 2rem;
  // }
  h1 {
    font-size: 14.5vw;
  }
  .flip {
    height: 1.75vw !important;
  }
  .heroStar_inner {
    width: 15vw;
  }
  .hero__paragraph {
    font-size: 1rem;
    max-width: 22rem;
    margin: 1.25rem 0;
  }
  .skip-lottie {
    width: 2.5rem;
    height: 2.5rem;
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .controls-inner {
    gap: 3rem;
  }
  .timeline-item {
    width: 1.25rem;
  }
  .work-body__left p {
    font-size: 0.5rem;
  }
  .mobile-link__inner p {
    font-size: 0.75rem;
    text-transform: uppercase;
    // text-decoration: underline;
    // text-underline-offset: 8px; /* Adds a 5px space above the underline */
  }
  .work-link__icon {
    margin-top: 0.1rem !important;
    width: 0.6rem !important;
  }
  .github-link__icon {
    width: 0.75rem !important;
  }
  .work-overview__wrapper,
  .mobile-link__wrapper,
  .work-credits__inner {
    gap: 1rem;
  }
  .mobile-link__inner {
    width: 100px;
  }
}
