.side-menu__wrapper {
  // background-image: url("/images/menu_bg.png"); // reactive for non-mvp version
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 95%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 2;
  // margin-top: -1px;
  padding: 2rem;
  padding-left: calc(2rem - 10px);
}

.nav-item {
  margin-bottom: 1.25rem;
  font-family: $baj;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  width: 97.23px;
}

.is-inactive {
  color: $mid-white;
  opacity: 60%;
  cursor: pointer;
  &:hover {
    opacity: 0.8;
  }
}

.is-active {
  color: $full-white;
  opacity: 100%;
  font-weight: 700;
  cursor: default;
}

.selector-btn {
  min-width: 15px;
  height: 10px;
  margin-left: -4px;
  margin-right: 4px;
}

.opacity-80 {
  opacity: 0.8 !important;
}

.socials-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 11px;
}

.social-icon {
  width: 24px;
  height: 24px;
  opacity: 0.4;
}

// fix nav bg img on 4k monitors
@media (min-height: 1080px) {
  .side-menu__wrapper {
    background-repeat: round;
  }
}
