.preloader-wrapper {
  @include flex_centre;
  @include fullscreen_wrapper;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  background-color: $full-black;
  // background-image: url("/images/preloader_bg.jpg"); //bg img screenshot
  background-size: cover;
  background-repeat: no-repeat;
}

.preloader_lottie--wrapper {
  @include flex_centre;
  flex-direction: column;
}

.preloader_lottie {
  width: 65%;
  margin-bottom: 0.625rem;
  position: relative;
  z-index: 2;
}

.preloader-gradient__wrapper {
  height: 100vh;
  width: 100%;
  position: absolute;
  @include flex_centre;
}

.preloader-gradient {
  background: radial-gradient(circle, $red, transparent);
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  position: absolute;
  filter: blur(200px);
  opacity: 0.5;
}
