.preloader-wrapper {
  @include flex_centre;
  @include fullscreen_wrapper;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  background-image: url("/images/preloader_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
