// // fonts
$baj: var(--font-baj_jamjuree, Arial, Helvetica, sans-serif);

// // colors
$red: #a01703;
$creme: #efd0a8;

$off-white: #ecece8;
$mid-white: #f8f7f6;
$full-white: #ffffff;

$coal-black: #333333;
$muted-black: #2b2b2a;
$mid-black: #1c1c1b;
$full-black: #111111;

// // breakpoints
// $mobile: 557px;

// // grid-sizes
// $g1: calc(100vw / 12 * 1);
// $g2: calc(100vw / 12 * 2);
// $g3: calc(100vw / 12 * 3);
// $g4: calc(100vw / 12 * 4);
// $g5: calc(100vw / 12 * 5);
// $g6: calc(100vw / 12 * 6);
// $g7: calc(100vw / 12 * 7);
// $g8: calc(100vw / 12 * 8);
// $g9: calc(100vw / 12 * 9);
// $g10: calc(100vw / 12 * 10);
// $g11: calc(100vw / 12 * 11);
// $g12: calc(100vw / 12 * 12);

// // reusable sizes
// $gutter: calc($g1 / 4);

// // other
// $border: 1px solid #d9d9d9;
// $video-border: 1px solid #0f0e0e;
