.work-controls__wrapper {
  position: absolute;
  right: 0;
  height: 100vh;
  @include flex_centre;
}

.work-controls {
  width: 90px;
  position: absolute;
  right: 50px;
}

.progress-bar {
  height: 1px;
  // background-color: rgba(236, 236, 232, 0.6);
  background-color: transparent;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.progress-fill {
  height: 100%;
  background-color: $creme;
  transform-origin: left;
}

.timeline-wrapper {
  height: 100vh;
  position: absolute;
  right: 22px;
  display: flex;
  flex-direction: column-reverse;
  gap: 6px;
  @include flex_centre;
}

.timeline-item {
  height: 1.25rem;
  width: 2px;
  background-color: $off-white;
  opacity: 0.2;
  transition: opacity 0.4s ease-in-out;
}

.active-project {
  opacity: 1;
}
