//PRELOADER BACKGROUND - LOAD FIRST TO AVOID WHITE BACKGROUND FLASH
// body {
//   background-image: url("/images/preloader_bg.jpg");
//   background-size: cover;
// }

// NOT-MVP VERSION
// @import "./variables", "./mixins", "./UI", "./preloader", "./nav", "./about",
//   "./contact", "./hero", "./music", "./services", "./work", "./customCursor";

@import "./variables", "./mixins", "./UI", "./preloader", "./nav", "./hero",
  "./work";

// CSS RESET
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
}

// REM SCALING
html {
  font-size: calc((0.625rem + 0.41666666666666663vw) - 2px);
}
@media screen and (max-width: 1920px) {
  html {
    font-size: calc((0.625rem + 0.41666666666666674vw) - 2px);
  }
}
@media screen and (max-width: 1440px) {
  html {
    font-size: calc((0.8126951092611863rem + 0.20811654526534862vw) - 2px);
  }
}
@media screen and (max-width: 479px) {
  html {
    font-size: calc(0.7494769874476988rem + 0.8368200836820083vw);
  }
}

// UNITY BUILD
.unity_canvas {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  overflow: hidden;
  cursor: none;
}

// GLOBAL ELEMENTS
h1,
h2,
h3 {
  font-family: $baj;
  font-weight: 700;
}

h1 {
  font-size: 6rem;
  line-height: 100%;
}

body {
  color: $mid-white;
}

.bold {
  font-weight: 700;
}
.flex {
  display: flex;
}
.flex-centre {
  @include flex-centre;
}
.hide {
  display: none;
}
.block {
  display: block;
}
.invisible {
  visibility: hidden;
}
.visible {
  visibility: visible;
}
.pointer {
  cursor: pointer;
}
.no-border {
  border: none;
}
.creme-text {
  color: $creme !important;
}
.optimise-font {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}
.paragraph-large {
  font-size: 1.25rem;
  line-height: 140%;
}
